<!DOCTYPE html>
<html>
<head>
  <title>FrontendTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
    $(document).on("mobileinit", function(){
        $.mobile.ajaxEnabled=false;
        $.mobile.loadingMessage = false;
    });            
    </script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="sidebar">
	<%= render "partials/sidebar.html.erb" %>
</div>

<div class="main">
	<%= yield %>
</div>

</body>
</html>
